body{
   background:url("pc_1.jpg");
   background-repeat:no-repeat;
   background-size:cover;
   overflow-x:hidden;
}
h1{
    width:200px;
    background-color:white;
    border-radius:15px;
    padding:20px;
    font-family: SF Pro Display;
}

h3{
    width:500px;
    background-color:white;
    border-radius:15px;
    padding:20px;
    font-family: SF Pro Display;
}
 #prebuilt{
    width:20px;
    height:20px;
 }
#assembled{
    width:20px;
    height:20px;
}
footer {
    background-color: rgba(128, 128, 128, 0.616);
    position:absolute;
    bottom: 0;
    width: 100%;
    color: white;
    font-family: SF Pro Display;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    padding-left:10px;
}
