body{
    text-align:center;
    font-family:sf pro display;
    background-size:3200px;
    background-position:center;

}
h1{
    color:black;
    background-color:rgba(255, 255, 255, 0.472);
    border-radius:10px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;
}

h3{
    background-color:rgba(255, 255, 255, 0.548);
    border-radius:10px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;
}
button{
    padding:5px;
    border-radius:10px;
    font-family:SF pro display;
    font-weight:bold;
    background-color:grey
}
button:hover{
    padding:10px;
    font-size: medium;
}
 

